.kg-multi-column-card,
.kg-multi-column-card * {
    box-sizing: border-box;
}

.kg-multi-column-card {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: var(--kg-multi-column-gap, 1.5rem);
}

.kg-multi-column-card-column {
    min-width: 0;
}

@media (min-width: 640px) {
    .kg-multi-column-card.columns-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 768px) {
    .kg-multi-column-card.columns-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {
    .kg-multi-column-card.columns-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}
